/*nav*/
.repair-nav
{
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.repair-nav > a{
    padding: 8px 16px;
    background: #d9d1ff;
    border-radius: 50px;
    color: #7d62ff;
    text-decoration: none;
}
.repair-nav > a.active{
    background: #7d62ff;
    color: white;
}
.repair-nav > hr{
    width: 36px;
    height: 3px;
    background-color: #d9d1ff;
    border: 0;
    opacity: 1;
}

legend{
    font-size: 1rem;
    width: inherit;
}

.custom-container
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#send-email-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number
{
    border: 1px solid black;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.label-wrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-bottom: 10px;
}

.content-wrapper
{
    border: 1px solid #b9aaff;;
    max-width: 1080px;
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

#part-name-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.purple-input
{
    border: 1px solid #b9aaff;
    padding: 6px 7px 6px 6px;
    margin: 1px 0px 1px 1px;
}
.purple-input:focus
{
    outline: none !important;
    border: 2px solid #7d62ff;
    padding: 6px;
    margin: 0px;
}

.input-group{
    display: flex;
}
.input-group > input{
    max-width: 110px;
}
.input-group > label{
    border-top: 1px solid #b9aaff;
    border-right: 1px solid #b9aaff;
    border-bottom: 1px solid #b9aaff;
    margin: 1px 1px 1px 0px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 6px;
}

#repair-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#repair-form > *
{
    margin: 30px 0px;
}

#km-time-inputs-wrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#time-inputs-wrapper
{
    display: flex;
    flex-direction: column;
}

#km-time-inputs-wrapper > span
{
    margin: 0px 10px;
}

#years-input
{
    margin-bottom: 5px;
}

.save-btn {
    background: #7d62ff;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
}
  
.save-btn:hover {
    background: #866eff;
    text-decoration: none;
}


th, td {
    border: 1px solid #b9aaff;
    text-align: center;
    padding: 3px;
}
table{
    width: 100%;
    border-collapse: collapse;
}